<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= staticImgUrl %>/ios/leaf-152.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= staticImgUrl %>/ios/leaf-120.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= staticImgUrl %>/ios/leaf-72.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="<%= staticImgUrl %>/ios/leaf-57.png">
  <!-- For other options -->
  <link rel="icon" href="<%= staticImgUrl %>/ios/leaf-32.png" sizes="32x32">
  <title>
    Bienvenidos! boda de Carla Isabel y Francisco Javier
  </title>
  <link href="<%= staticCssUrl %>/main.css" rel="stylesheet">
</head>
<body class="landing-body">
<div class="landing-push-down"></div>
<div class="row">
  <div class="centered eight columns">
    <h1 class="welcome" data-welcome>Bienvenidos!</h1>
  </div>
</div>

<div class="row">
  <div class="centered eight columns announce">
    <div data-count-down>
    </div>
  </div>
</div>
<div class="row">
  <div class="centered two columns">
    <h1 data-enter class="enter"><a href="/home">Entrar</a></h1>
  </div>
</div>
<script>
  site = {
    url: {
      base: "/",
      js: "<%= staticJsUrl %>",
      bower: "<%= staticBowerUrl %>"
    }
  }
</script>
<script data-main="<%= staticJsUrl %>/main"
        src="<%= staticBowerUrl %>/requirejs/require.js"></script>
<% include partials/ga %>
</body>
</html>